# Python
__pycache__/
*.pyc
*.pyo

# Docker volumes data
influxdb/data/
grafana/data/

# Output data files, keep directory structure no files
data/parquet/*
!data/parquet/.gitkeep
!data/.gitkeep

# Logs
*.log
logs/
